// main: ..\main.scss
/* *** Palette *************** */
$white: #f7f7f7;
$offwhite: #eeecec;
$black: #060404;
$blueblack-bg: #1a2024;
$blueblack-fg: #081216;
/* *** Font Stacks ********** */
$OpenSansLight: 'Open Sans Light', 'Roboto' sans-serif;
$OpenSans: 'Open Sans', 'Roboto', sans-serif;
$Alegreya: 'Alegreya', 'Times', serif;
$AlegreyaSC: 'Alegreya SC', 'Times', serif;
/* ***** 			Drawer Variables 		***** */
$drawer-fg: #ece5de;
$bounce-curve: cubic-bezier(.9, -0.05, .05, 1.1);
