/* ***** 			Drawer Variables 		***** */
$drawer-bg: #1a2024;
$drawer-fg: #ece5de;
$drawer-width: 16rem;
$bounce-curve: cubic-bezier(.9, -0.05, .05, 1.1);
/* ***** Drawer Handle Variables 	***** */
$icon-layer-height: 3px;
$icon-layer-spacing: 4px;
$icon-layer-width: 30px;
/* ***** Top-Level Drawer Element ***** */
#main {
	position: relative;
}

#drawer {
	background: $drawer-bg;
	color: $drawer-fg;
	position: fixed;
	left: $drawer-width * -1;
	top: 0;
	bottom: 0;
	width: $drawer-width;
	min-width: $drawer-width;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100;
	transition: left .4s cubic-bezier(.2, .2, .01, .99) .1s;
	transform: translateZ(0);

	&.drawer-open {
		left: 0;

		.item-title {
			animation-name: whiplash;
			animation-duration: 600ms;
			animation-iteration-count: 1;
			animation-timing-function: $bounce-curve;
			animation-fill-mode: none;
		}
	}
}

.toggle {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.nav {
	padding-top: 4.3rem;
}

.nav-item {
	line-height: 3rem;
	font-family: $OpenSansLight;
	transition: padding-left .25s $bounce-curve, background .4s ease-out .1s;
	// Link wrapper for nav menu items
	label {
		display: block;
		position: relative;
		height: 3rem;
		text-decoration: none;

		&::after {
			position: absolute;
			right: 100%;
			height: 2px;
			width: 100%;
			background: #b0381e;
			content: '';
			transition: right .5s cubic-bezier(.1, .5, .25, .75);
		}

		&:focus::after,
		&:hover::after {
			right: 0;
		}

		&::before {
			position: absolute;
			left: 100%;
			height: 2px;
			width: 100%;
			background: #b0381e;
			content: '';
			transition: left .5s cubic-bezier(.1, .5, .25, .75);
		}

		&:focus::before,
		&:hover::before {
			left: 0;
		}

		.flex {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
		}
	}

	.toggle:checked {
		padding-left: 1rem;
	}

	&:focus {
		outline: 0;
	}

	&:hover {
		background: lighten(#1a2024, 4%);
	}
}

.item-title {
	flex: 1 1 auto;
	padding-left: 1rem;
	font-size: 1.625rem;
	font-weight: 500;
	color: #e4e4e4;
}

.item-avatar {
	margin-left: 1rem;
	height: 1.625rem;
	width: 1.625rem;
	flex: 0 1 1.625rem;
}
/*
/*
	.drawer-handle {
		background: #1b2f32;
	}
*/
.hamburger-wrapper {
	display: inline-block;
	height: ($icon-layer-height * 3) + ($icon-layer-spacing * 2);
	width: $icon-layer-width;
	position: relative;
}

.hamburger-icon {
	display: block;
	top: 50%;
	margin-top: $icon-layer-height / -2;

	&,
	&::after,
	&::before {
		width: $icon-layer-width;
		height: $icon-layer-height;
		border-radius: $icon-layer-height;
		background-color: $white-muted;
		position: absolute;
		transition-property: transform;
		transition-duration: .15s;
		transition-timing-function: ease;
	}

	&::after,
	&::before {
		content: '';
		display: block;
	}
}

.drawer-handle {
	padding: .75rem .5rem .625rem .75rem;
	background-color: transparent;
	text-transform: none;
	overflow: hidden;
	transition-property: opacity;
	transition-duration: .15s;
	transition-timing-function: linear;

	&:focus {
		outline: 0;
	}

	&:hover {
		opacity: .85;
	}

	.hamburger-icon {
		transition-duration: .22s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

		&::before {
			top: ($icon-layer-height + $icon-layer-spacing) * -1;
			transition: top .1s .25s ease-in, opacity .1s ease-in;
		}

		&::after {
			bottom: ($icon-layer-height + $icon-layer-spacing) * -1;
			transition: bottom .1s .25s ease-in, transform .22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}
}

#tgl--drawer {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

#tgl--drawer + label {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#tgl--drawer:checked + label {
	.hamburger-icon {
		transform: rotate(225deg);
		transition-delay: .12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

		&::before {
			top: 0;
			opacity: 0;
			transition: top .1s ease-out, opacity .1s .12s ease-out;
		}

		&::after {
			bottom: 0;
			transform: rotate(-90deg);
			transition: bottom .1s ease-out, transform .22s .12s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}
/* ***** Item Title Slide-In Keyframes *** */
@keyframes whiplash {
	0% {
		transform: translateX(0px);
	}

	80% {
		transform: translateX(-8px);
	}
	
	100% {
		transform: translateX(0px);
	}
}
