// main: ..\main.scss

*,
*::after,
*::before {
	box-sizing: border-box;
}

.container__content,
.container__main,
.pusher,
body,
html {
	height: 100%;
}

html {
	font-family: $OpenSans;
	font-size: 16px;
	box-sizing: border-box;
}

body {
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
	background-color: #444;
	color: #262626;
}

// Toggle
.toggle {
	cursor: pointer;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
